{% load angularjs %}

<td>{% ng order.name %}</td>
<td>{% ng order.price | number:4 %}</td>
<td>{% ng order.quantity %}</td>
<td>{% ng order.price * order.quantity | number:4 %}</td>
<td>
    <input class="input-mini" type="number"
        min="0"
        max="{% ng order.quantity %}"
        ng-disabled="order.complete"
        ng-model="order.fills">
</td>
<td>{% ng inventoryValue(order) | number:4 %}</td>
<td>
    <button ng-click="order.complete = !order.complete"
        class="btn btn-mini">Complete</button>
    <button ng-click="deleteOrder(order)"
        ng-disabled="order.complete"
        class="btn btn-danger btn-mini">Delete</button>
</td>
