{% load angularjs %}
<!doctype html>
<html ng-app>
    <head>
        <script src="{{ STATIC_URL }}angular/js/angular-1.0.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
        <script src="{{ STATIC_URL }}core/js/app.js"></script>

        <link rel="stylesheet" href="{{ STATIC_URL }}core/css/app.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
    </head>

    <body>
        <div>
            <div class="container" ng-controller="TraderCtrl">
                <div class="row">
                    <div class="span10">
                        <h1>Dealing</h1>
                        {% include 'core/includes/order_form.html' %}
                    </div>
                </div>
                <div class="row">
                    <div class="span8">
                        {% include 'core/includes/accordion.html' %}
                    </div> <!-- tables div -->
                    <div class="span3">
                        <p>Total buy value: <strong>{% ng buyOrderValue() | number:4 %}</strong></p>
                        <p>Total inventory value: <strong>{% ng inventoryValue() | number:4 %}</strong></p>
                    </div>
                </div> <!-- table row -->
            </div> <!-- ng-controller div -->
        </div>
    </body>
</html>
