input.ng-invalid.ng-dirty {
    /*background-color: #FA787E;*/
}

input.ng-valid.ng-dirty {
    /*background-color: white;*/
}

thead td {
    font-weight: bold;
}

.border-left {
    border-left: 1px solid #eee;
    padding-left: 5px;
}
